manifest {
    homePage = 'https://github.com/Eugloh/AmpliconPCR-nf'
    description = 'Conversion to nextflow'
    mainScript = 'AmpliconPCR.nf'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
}

process {
    shell =  ['/bin/bash','-euo','pipefail']
}

params {
    output_folder = "."
}

timeline {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_timeline.html"
}

report {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_report.html"
}

trace {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_trace.txt"
}

dag {
  enabled = true
  file = "${params.output_folder}/nf-pipeline_info/template_dag.html"
}
